/* .dashboard{
  background-color: rgb(212, 78, 78);
  height:660px;
  width:auto;
} */

.table{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 101px;
 }
.admin{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding:100px;
}
.student{
 padding-left:300px;
 padding-top: 10px;
padding-bottom:30px;
}
.buttons{
  margin:10px;
}
.teacherform{
  border:2px solid black;
  padding:25px;
  text-align: center;
}
